
body {
    background-color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    overflow: hidden;
    background-color: #CBE86B;
    width: 100%;
    padding: 20px 10px;
    margin: 0;
}

.header a {
    color: black;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    line-height: 25px;
    border-radius: 4px;
    height: 40px;
    align-items: baseline;
}

.header a:hover {
    background-color: #1C140D;
    color: #F2E9E1;
}


.graph { /* min-device-height not working? */
    border: 1px solid lightgrey;
    margin-top: 20px;
}

@media screen and (max-height: 599px){
    .graph {
        height: 200px;
    }
}
@media screen and (min-height: 600px) and (max-height: 799px){
    .graph {
        height: 400px;
    }
}
@media screen and (min-height: 800px){
    .graph {
        height: 600px;
    }
}

.button {
    width: 100%;
    margin-top: 20px;
    border: none;
    height: 70px;
    font-size: 1.5em;
    background-color: lightgrey;
}

.button:hover {
    background-color: #1C140D;
    color: #F2E9E1;
}

.menuParent {
    float: right;
    margin-right: 50px;
    display: inline-block;
    cursor: pointer;
}

.menuMini {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}


