.grid-parent {
    display: grid;
    grid-template-columns: 640px 200px;
}

#content {
    grid-row: 1 /span 4;
}

.child {
    margin: 10px;
    width: 100%;
}

.form {
    display: grid;
    grid-template-columns: 100px 25px 100px 25px;
    padding: 10px;
    grid-gap: 10px;
    align-items: end;
}

.form input {
    height: 13px;
}