
body {
    background-color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    overflow: hidden;
    background-color: #CBE86B;
    width: 100%;
    padding: 20px 10px;
    margin: 0;
}

.header a {
    color: black;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    line-height: 25px;
    border-radius: 4px;
    height: 40px;
    align-items: baseline;
}

.header a:hover {
    background-color: #1C140D;
    color: #F2E9E1;
}

/*
.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo {
    font-weight: bold;
}

.header a:hover {
    background-color: #1C140D;
    color: #F2E9E1;
}

.header a.active {
    background-color: dodgerblue;
    color: white;
}

.header-right {
    float: right;
}

@media screen and (max-width: 500px) {
    .header a {
        font-size: 25em;
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
    }
}*/

@media screen and (max-device-height: 700px){
    .graph {
        height: 500px;
    }
}
@media screen and (min-device-height: 701px){
    .graph {
        height: 600px;
    }
}

.graph {
    border: 1px solid lightgrey;
    margin-top: 20px;
}

.button {
    width: 100%;
    margin-top: 20px;
    border: none;
    height: 70px;
    font-size: 1.5em;
    background-color: lightgrey;
}

.button:hover {
    background-color: #1C140D;
    color: #F2E9E1;
}

.child {
}

.form {
    display: grid;
    grid-template-columns: 100px 25px 100px 25px;
    padding: 10px;
    grid-gap: 10px;
    align-items: end;
}

.form input {
    height: 13px;
}

.menuParent {
    float: right;
    margin-right: 50px;
    display: inline-block;
    cursor: pointer;
}

.menuMini {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
}

#settings {
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}


